/* Minimal global styles */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.btn.btn-outline-primary {
  width: 98px;
}
.btn.btn-outline-secondary {
  width: 160px;
}
.main-btn-group .btn {
  margin-bottom: 12px;
  padding: 14px 12px;
}

.show-text-feature {
  width: 100%;
  min-height: 46px;
  font-size: 14px;
}

.row-sentence .btn {
  width: auto;
}

.description-data {
  max-height: calc(100vh - 430px);
  overflow-y: auto;
}